<div class="item-detail">
    <div class="item-detail-box-first">
        <div  class="item-detail-first-column">
            <img class="item-detail-image" src="../../../assets/icons/prueba-detail.png" alt="">
            <span class="item-detail-description-title">Descripción del producto</span>
            <p class="item-detail-description-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus odio, blanditiis dolore eos aspernatur non dignissimos. Optio maiores unde labore repellendus, doloribus cum natus dicta a, repudiandae blanditiis suscipit sequi?</p>
        </div>
        <div class="item-detail-price-description">
            <span class="item-detail-price-description-t1">Nuevo -- 234 vendidos</span>
            <span class="item-detail-price-description-t2">Deco reverse sombrero oxford</span>
            <span class="item-detail-price-description-t3">$1980</span>
            <button class="item-detail-button" type="button">Comprar</button>
        </div>
    </div>
    
</div>