<app-breadcrumb *ngIf="data" [categoryParam]="data.category_id"></app-breadcrumb>
<div class="item-detail" *ngIf="data">
    <div class="item-detail-box-first">
        <div  class="item-detail-first-column">
            <img class="item-detail-image" [src]="data.picture" [alt]="'image-detail-'+data.id">
            <span class="item-detail-description-title">Descripción del producto</span>
            <p class="item-detail-description-text">{{ data.description }}</p>
        </div>
        <div class="item-detail-price-description">
            <span class="item-detail-price-description-t1">{{ data.condition }} -- {{ data.sold_quantity }} vendidos</span>
            <span class="item-detail-price-description-t2">{{ data.title }}</span>
            <span class="item-detail-price-description-t3">${{ data.price.amount }}</span>
            <button class="item-detail-button" type="button">Comprar</button>
        </div>
    </div>
    
</div>