

:root {

    /** CUSTOM COLORS **/
    
    --color-yellow-meli: #FFE600;
    --color-black-meli: #333333;
    --color-gray-meli: #999999;
    --color-gray-meli-2: #666666;
    --color-white-meli: #EEEEEE;
    --color-white-meli-2: #ffffff;
    --color-blue-meli: #3483FA;
}